__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/
node_modules/

.DS_Store
Thumbs.db
~$*.xlsx
~$*.pptx
*.inspect.ndjson

images/presentation_previews/
images/rendered_presentation/
images/pdf_previews/

.env
.env.*
*.zip